JavaFXApplication1/xml-resources/web-service-references/GameEngineService_2/wsdl/13.59.31.129_8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><xs:schema xmlns:tns="http://simpleworldgame.cs.bilkent.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://simpleworldgame.cs.bilkent.edu/">

<xs:element name="activatePlayer" type="tns:activatePlayer"/>

<xs:element name="activatePlayerResponse" type="tns:activatePlayerResponse"/>

<xs:element name="attackControl" type="tns:attackControl"/>

<xs:element name="attackControlResponse" type="tns:attackControlResponse"/>

<xs:element name="distributeRegions" type="tns:distributeRegions"/>

<xs:element name="distributeRegionsResponse" type="tns:distributeRegionsResponse"/>

<xs:element name="findRegion" type="tns:findRegion"/>

<xs:element name="findRegionResponse" type="tns:findRegionResponse"/>

<xs:element name="findWhoseRegion" type="tns:findWhoseRegion"/>

<xs:element name="findWhoseRegionResponse" type="tns:findWhoseRegionResponse"/>

<xs:element name="fortificationControl" type="tns:fortificationControl"/>

<xs:element name="fortificationControlResponse" type="tns:fortificationControlResponse"/>

<xs:element name="getConfiguration" type="tns:getConfiguration"/>

<xs:element name="getConfigurationResponse" type="tns:getConfigurationResponse"/>

<xs:element name="getGameStatistics" type="tns:getGameStatistics"/>

<xs:element name="getGameStatisticsResponse" type="tns:getGameStatisticsResponse"/>

<xs:element name="getPlayers" type="tns:getPlayers"/>

<xs:element name="getPlayersResponse" type="tns:getPlayersResponse"/>

<xs:element name="getRegion" type="tns:getRegion"/>

<xs:element name="getRegionResponse" type="tns:getRegionResponse"/>

<xs:element name="getRegions" type="tns:getRegions"/>

<xs:element name="getRegionsResponse" type="tns:getRegionsResponse"/>

<xs:element name="getRoomID" type="tns:getRoomID"/>

<xs:element name="getRoomIDResponse" type="tns:getRoomIDResponse"/>

<xs:element name="getSelectedRegion1" type="tns:getSelectedRegion1"/>

<xs:element name="getSelectedRegion1Response" type="tns:getSelectedRegion1Response"/>

<xs:element name="getSelectedRegion2" type="tns:getSelectedRegion2"/>

<xs:element name="getSelectedRegion2Response" type="tns:getSelectedRegion2Response"/>

<xs:element name="getSoldier" type="tns:getSoldier"/>

<xs:element name="getSoldierResponse" type="tns:getSoldierResponse"/>

<xs:element name="getUserName" type="tns:getUserName"/>

<xs:element name="getUserNameResponse" type="tns:getUserNameResponse"/>

<xs:element name="getWinner" type="tns:getWinner"/>

<xs:element name="getWinnerResponse" type="tns:getWinnerResponse"/>

<xs:element name="getWorld" type="tns:getWorld"/>

<xs:element name="getWorldResponse" type="tns:getWorldResponse"/>

<xs:element name="handOutCard" type="tns:handOutCard"/>

<xs:element name="handOutCardResponse" type="tns:handOutCardResponse"/>

<xs:element name="isDistributionFinished" type="tns:isDistributionFinished"/>

<xs:element name="isDistributionFinishedResponse" type="tns:isDistributionFinishedResponse"/>

<xs:element name="isGameActive" type="tns:isGameActive"/>

<xs:element name="isGameActiveResponse" type="tns:isGameActiveResponse"/>

<xs:element name="isGameOver" type="tns:isGameOver"/>

<xs:element name="isGameOverResponse" type="tns:isGameOverResponse"/>

<xs:element name="isRoomFull" type="tns:isRoomFull"/>

<xs:element name="isRoomFullResponse" type="tns:isRoomFullResponse"/>

<xs:element name="joinGame" type="tns:joinGame"/>

<xs:element name="joinGameResponse" type="tns:joinGameResponse"/>

<xs:element name="reinforcementControl" type="tns:reinforcementControl"/>

<xs:element name="reinforcementControlResponse" type="tns:reinforcementControlResponse"/>

<xs:element name="resignRequest" type="tns:resignRequest"/>

<xs:element name="resignRequestResponse" type="tns:resignRequestResponse"/>

<xs:element name="setConfiguration" type="tns:setConfiguration"/>

<xs:element name="setConfigurationResponse" type="tns:setConfigurationResponse"/>

<xs:element name="setSelectedRegion" type="tns:setSelectedRegion"/>

<xs:element name="setSelectedRegion1" type="tns:setSelectedRegion1"/>

<xs:element name="setSelectedRegion1Response" type="tns:setSelectedRegion1Response"/>

<xs:element name="setSelectedRegion2" type="tns:setSelectedRegion2"/>

<xs:element name="setSelectedRegion2Response" type="tns:setSelectedRegion2Response"/>

<xs:element name="setSelectedRegionResponse" type="tns:setSelectedRegionResponse"/>

<xs:element name="setSoldier" type="tns:setSoldier"/>

<xs:element name="setSoldierResponse" type="tns:setSoldierResponse"/>

<xs:element name="setUserName" type="tns:setUserName"/>

<xs:element name="setUserNameResponse" type="tns:setUserNameResponse"/>

<xs:element name="setupGame" type="tns:setupGame"/>

<xs:element name="setupGameResponse" type="tns:setupGameResponse"/>

<xs:complexType name="getUserName">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSelectedRegion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSelectedRegionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSelectedRegion1">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSelectedRegion1Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSelectedRegion2">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSelectedRegion2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setConfiguration">
<xs:sequence>
<xs:element name="arg0" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setConfigurationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPlayers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPlayersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConfiguration">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getConfigurationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findWhoseRegion">
<xs:sequence>
<xs:element name="arg0" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findWhoseRegionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="joinGame">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="joinGameResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWinner">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getWinnerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setupGame">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setupGameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setUserName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setUserNameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isDistributionFinished">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isDistributionFinishedResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isRoomFull">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isRoomFullResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSoldier">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSoldierResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isGameActive">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isGameActiveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomID">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRoomIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWorld">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getWorldResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distributeRegions">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distributeRegionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRegionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="handOutCard">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="handOutCardResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findRegion">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRegionResponse">
<xs:sequence>
<xs:element name="return" type="tns:simpleRegion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="simpleRegion">
<xs:sequence>
<xs:element name="cavalryAmount" type="xs:int"/>
<xs:element name="artilleryAmount" type="xs:int"/>
<xs:element name="infantryAmount" type="xs:int"/>
<xs:element name="totalArmy" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="player" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activatePlayer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activatePlayerResponse">
<xs:sequence>
<xs:element name="return" type="tns:player" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="player">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isGameOver">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="isGameOverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reinforcementControl">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reinforcementControlResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fortificationControl">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fortificationControlResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSoldier">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSoldierResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRegion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegionResponse">
<xs:sequence>
<xs:element name="return" type="tns:simpleRegion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSelectedRegion1">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSelectedRegion1Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="attackControl">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attackControlResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSelectedRegion2">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSelectedRegion2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGameStatistics">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGameStatisticsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resignRequest">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resignRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>