JavaFXApplication1/xml-resources/web-service-references/GameEngineService_1/wsdl/13.59.31.129_8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><xs:schema xmlns:tns="http://simpleworldgame.cs.bilkent.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://simpleworldgame.cs.bilkent.edu/">

<xs:element name="activatePLayer" type="tns:activatePLayer"/>

<xs:element name="activatePLayerResponse" type="tns:activatePLayerResponse"/>

<xs:element name="getPLayers" type="tns:getPLayers"/>

<xs:element name="getPLayersResponse" type="tns:getPLayersResponse"/>

<xs:element name="getWorld" type="tns:getWorld"/>

<xs:element name="getWorldResponse" type="tns:getWorldResponse"/>

<xs:element name="registerPLayer" type="tns:registerPLayer"/>

<xs:element name="registerPLayerResponse" type="tns:registerPLayerResponse"/>

<xs:complexType name="getPLayers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPLayersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPLayer">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerPLayerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="activatePLayer">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activatePLayerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getWorld">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getWorldResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>