JavaFXApplication1/xml-resources/web-service-references/GameEngineService/wsdl/13.59.31.129_8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://simpleworldgame.cs.bilkent.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://simpleworldgame.cs.bilkent.edu/" name="GameEngineService">
<types>
<xsd:schema>
<xsd:import namespace="http://simpleworldgame.cs.bilkent.edu/" schemaLocation="http://13.59.31.129:8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPLayers">
<part name="parameters" element="tns:getPLayers"/>
</message>
<message name="getPLayersResponse">
<part name="parameters" element="tns:getPLayersResponse"/>
</message>
<message name="activatePLayer">
<part name="parameters" element="tns:activatePLayer"/>
</message>
<message name="activatePLayerResponse">
<part name="parameters" element="tns:activatePLayerResponse"/>
</message>
<message name="registerPLayer">
<part name="parameters" element="tns:registerPLayer"/>
</message>
<message name="registerPLayerResponse">
<part name="parameters" element="tns:registerPLayerResponse"/>
</message>
<message name="getWorld">
<part name="parameters" element="tns:getWorld"/>
</message>
<message name="getWorldResponse">
<part name="parameters" element="tns:getWorldResponse"/>
</message>
<portType name="GameEngine">
<operation name="getPLayers">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getPLayersRequest" message="tns:getPLayers"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getPLayersResponse" message="tns:getPLayersResponse"/>
</operation>
<operation name="activatePLayer">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/activatePLayerRequest" message="tns:activatePLayer"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/activatePLayerResponse" message="tns:activatePLayerResponse"/>
</operation>
<operation name="registerPLayer">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/registerPLayerRequest" message="tns:registerPLayer"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/registerPLayerResponse" message="tns:registerPLayerResponse"/>
</operation>
<operation name="getWorld">
<input wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getWorldRequest" message="tns:getWorld"/>
<output wsam:Action="http://simpleworldgame.cs.bilkent.edu/GameEngine/getWorldResponse" message="tns:getWorldResponse"/>
</operation>
</portType>
<binding name="GameEnginePortBinding" type="tns:GameEngine">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPLayers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activatePLayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerPLayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWorld">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GameEngineService">
<port name="GameEnginePort" binding="tns:GameEnginePortBinding">
<soap:address location="http://13.59.31.129:8080/SimpleWorldGame-1.0-SNAPSHOT/GameEngineService"/>
</port>
</service>
</definitions>